{% load browserid %}
<html>
  <head>
    {% browserid_css %}
  </head>
  <body>
    <p>Welcome to fuzz-as-a-service</p>

    {% browserid_info %}
    {% if user.is_authenticated %}
      <p>Current user: {{ user.email }}</p>
      {% browserid_logout %}
    {% else %}
      {% browserid_login %}
    {% endif %}

    <h1>Pending runs</h1>
    <table>
      <tr>
        <th>Queued on</th>
      </tr>
      {% for run in pending_runs %}
      <tr>
        <td>{{ run.queued_on }}</td>
      </tr>
      {% endfor %}
    </table>

    <h1>Active runs</h1>
    <table>
      <tr>
        <th>Started on</th>
      </tr>
      {% for run in active_runs %}
      <tr>
        <td>{{ run.started_on }}</td>
      </tr>
      {% endfor %}
    </table>

    <h1>Latest runs</h1>
    <table>
      <tr>
        <th>Paths found</th>
        <th>Unique hangs</th>
        <th>Unique crashes</th>
        <th>Afl version</th>
        <th>Execs per second</th>
      </tr>
      {% for run in afl_runs %}
      <tr>
        <td>{{ run.paths_found }}</td>
        <td>{{ run.unique_hangs }}</td>
        <td>{{ run.unique_crashes }}</td>
        <td>{{ run.afl_version }}</td>
        <td>{{ run.execs_per_sec }}</td>
      </tr>
      {% endfor %}
    </table>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    {% browserid_js %}
  </body>
</html>
